.App {
  flex: 1;
}
.Title {
  text-align: center;
  font-size: 24px;
  margin: 10px;
}
.Form {
  font-size: 18px;
  margin: 20px;
}
.Input {
  margin-left: 20px;
  margin-bottom: 6px;
  font-size: 16px;
}
.InputRadio {
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.button {
  font-size: 18px;
  background-color: #29792a;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  margin-left: 40px;
  margin-bottom: 20px;
}
